body {
    background-image: linear-gradient(to right, #36459cbe, #157e65f0);
    padding-top: 56px;
}

.divider {
    border: none;
    margin: 100px 0;
    height: 2px;
    background: linear-gradient(rgb(191, 190, 201), rgb(14, 2, 33), rgb(28, 8, 74));
    box-shadow: 0 2px 5px rgba(83, 47, 163, 0.8);
}


/* Navbar */

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    background: rgb(75, 67, 75);
    z-index: 1000;
  }

.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
 
.navbar-nav .nav-item {
    font-size: 22px;
    display: table-cell;
  }

  .navbar,
  .navbar-toggler-icon,
  .navbar-nav,
  .navbar-nav .nav-item,
  .navbar-nav .nav-link,
  .navbar-brand {
      color: white !important;
  }
  

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
        display: inline-block;
        margin: 0 10px; /* Adjust as needed */
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        display: block;
        text-align: center;
    }

    .navbar-nav .nav-item {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}


/* Homepage */

#name_title_header {
    text-align: center;
}

#name {
    color: white;
    font-size: 150px;
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ephesis', cursive;

}

@media (max-width: 768px) {
    #name {
        font-size: 120px; /* Adjust the font size for smaller screens */
    }
}

#job_title {
    color: white;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

#technologies {
    color: white;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

#head_shot {
    width: 325px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid rgb(75, 67, 75);
}

#about_me_title {
    font-size: 18px;
}



/* About Me */
#about_me_head_shot {
   width: 300px;
   height: 425px;
   padding-top: 20px;
   margin-top: 305px;
}
    
@media (min-width: 576px) and (max-width: 992px) {
    #about_me_head_shot {
        margin-top: 50px; /* Adjust the margin for medium-sized screens */
    }
 }
    
 @media (max-width: 575px) {
    #about_me_head_shot {
        margin-top: 50px; /* Adjust the margin for smaller screens */
    }
 }



.about_me_text {
    padding-left: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
}

#about_me_intro {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family: 'Ephesis', cursive;
    color: rgb(27, 4, 65);
    font-weight: bold;
}

/* Projects */
#capstone_project_header {
    color: rgb(27, 4, 65);
    font-family: 'Ephesis', cursive;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 100px;
    font-weight: bold;
}

#continuing_care_header {
    color: rgb(27, 4, 65);
    font-family: 'Ephesis', cursive;
    padding-top: 100px;
    font-size: 60px;
    font-weight: bold;
}

#continuing_care_text {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
}

#continuing_care_video {
    padding-bottom: 50px;
    display: block;
    margin: 0 auto;
}


#continuing_care_link {
    color: black;
}

#continuing_care_button {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
}

#ongoing_projects {
    color: rgb(27, 4, 65);
    font-family: 'Ephesis', cursive;
    padding-top: 75px;
    font-size: 100px;
    padding-bottom: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#sport_roster_header {
    color: rgb(27, 4, 65);
    font-family: 'Ephesis', cursive;
    font-size: 60px;
    padding-bottom: 50px;
    font-weight: bold;
}

#sport_roster_text {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
}

#sport_roster_project_button {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;

}

#sport_roster_link {
    color: black;
}






/* Contact Page */
.contact_info_header {
    margin-top: 75px;
    justify-content: center;
    display: flex;
    font-family: 'Ephesis', cursive;
    font-size: 100px;
    color: rgb(27, 4, 65);
    font-weight: bold;
}

/* Email */
.contact_email {
    padding-top: 20px;
    justify-content: center;
    display: flex;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}


@media (max-width: 768px) {
    .contact_email {
        font-size: 28px; /* Adjust font size for smaller screens */
    }
}

#email_link {
    padding-left: 20px;
    padding-top: 14px;
    color: white;
    overflow-wrap: break-word;
}

/* LinkedIn */
.contact_linkedin {
    padding-top: 20px;
    justify-content: center;
    display: flex;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}

@media (max-width: 768px) {
    .contact_linkedin {
        font-size: 28px; /* Adjust font size for smaller screens */
    }
}

#linkedin_link {
    color: white;
}

.bi-linkedin {
    padding-top: 20px;
    color: white;
    padding-right: 20px;
}

/* GitHub */
.contact_github {
    padding-top: 20px;
    justify-content: center;
    display: flex;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    padding-bottom: 40px;
    color: white;
}

@media (max-width: 768px) {
    .contact_github {
        font-size: 28px; /* Adjust font size for smaller screens */
    }
}

#github_link {
    color: white;
}

.bi-github {
    padding-top: 20px;
    color: white;
    padding-right: 20px;
}

/* Resume */
.contact_resume {
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#resume_button {
    font-weight: bold;
    color: black;
}